* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nav {
    padding: 20px;
    text-align: center;

    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

.main {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: whitesmoke;
}

.calculator {
    display: flex;
    padding: 26px;

    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 16px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

.output {
    margin-right: 30px;

    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1) inset;
    border-radius: 20px;
    min-height: 120px;
    min-width: 400px;

    font-size: 16px;
}

button {
    margin: 5px 10px;
    padding: 30px;
    font-size: 20px;
    border-radius: 200px;
}

.footer {
    padding: 20px;
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align: center;
}

