* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.calc {
    border: 1px solid gray;
    padding: 10px;
}

.output {
    border: 1px solid gray;
    margin: 5px;
    min-height: 100px;
}

.btns {
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
}

.right {
    display: flex;
    flex-direction: column;
}

button {
    padding: 30px;
    margin: 4px;
    flex: 1;
}

.plus, .equals {
    flex: 7;
}

.rows {
    display: flex;
}

.zero {
    flex: 9;
}